/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamPro/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamPro/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamPro/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "EBGaramondRegular"; */
@font-face {
    font-family: "EBGaramondRegular";
    src: url("../fonts/Garamond/EBGaramondRegular.eot");
    src: url("../fonts/Garamond/EBGaramondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Garamond/EBGaramondRegular.woff") format("woff"),
    url("../fonts/Garamond/EBGaramondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}