@media screen and (min-width: 701px) and (max-width: 1040px) { 

  	.container { padding: 0 30px;	}

  	.about-school-upper { display: none; }

  	.hide { display: block; }

	.about-school-bottom .wrapper { text-align: center; padding: 70px 45px 70px 45px; }

	.about-school-bottom .wrapper .left-info,
	.about-school-bottom .wrapper .right-info {
		float: none;
		display: inline-block;
	}

	.about-school-bottom .wrapper p {
		text-align: left;
		max-width: 100%;
		word-spacing: 10px;
		line-height: 24px;
	}

	.about-school-bottom .wrapper h2 {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.about-school-bottom .right-info img {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
		margin-top: 40px;
	}

	.header-menu .nav a {
		font-size: 12px;
	}

	.header-big-menu {
		font-size: 12px;
	}

	.header-big-menu .left-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.header-big-menu .middle-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}

	.header-big-menu .right-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}

}

@media screen and (max-width: 700px) {

	.container { padding: 0 30px;	}

  	.about-school-upper { display: none; }

  	.hide { display: block; }

	.about-school-bottom .wrapper { text-align: center; padding: 70px 45px 70px 45px; }

	.about-school-bottom .wrapper .left-info,
	.about-school-bottom .wrapper .right-info {
		float: none;
		display: inline-block;
	}

	.about-school-bottom .wrapper p {
		text-align: left;
		max-width: 100%;
		word-spacing: 10px;
		line-height: 24px;
	}

	.about-school-bottom .wrapper h2 {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.about-school-bottom .right-info img {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
		margin-top: 40px;
	}

	.header-menu .nav a {
		font-size: 12px;
	}

	.header-big-menu {
		font-size: 12px;
	}

	.header-big-menu .left-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.header-big-menu .middle-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}

	.header-big-menu .right-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}

	h2 {
		font-size: 26px;
	}

	.structure-and-authorities .wrapper {
		padding: 70px 60px 70px 20px;
	}

	.structure-and-authorities .wrapper {
		padding: 70px 60px 70px 20px;
	}
	
	.logistical-support .wrapper {
		padding: 73px 40px 100px 40px;
	}

	.logistical-support .wrapper h2 {
		font-size: 22px;
	}

	.paid-services .wrapper {
		padding: 68px 40px 90px 40px;
	}

	.numbered-list .wrapper {
		padding: 75px 40px 82px 40px;
	} 

	.documents .wrapper {
		padding: 62px 62px 92px 5px; 
	}

	.documents .wrapper div p {
		font-size: 11px;
	}

	.documents .wrapper div {
		padding: 0 18px 0 50px;
	}

	/*.middle-header {
		text-align: center;
	}

	.logo,
	.left-info,
	.right-info,
	.left-info h1,
	.left-info p {
		float: none;
		display: inline-block;
	}*/
	
	

	.left-info h1 {
		padding: 0;
	}

}

@media screen and (max-width: 569px) {

	.container { padding: 0 30px;	}

  	.about-school-upper { display: none; }

  	.hide { display: block; }

	.about-school-bottom .wrapper { text-align: center; padding: 70px 45px 70px 45px; }

	.about-school-bottom .wrapper .left-info,
	.about-school-bottom .wrapper .right-info {
		float: none;
		display: inline-block;
	}

	.about-school-bottom .wrapper p {
		text-align: left;
		max-width: 100%;
		word-spacing: 10px;
		line-height: 24px;
	}

	.about-school-bottom .wrapper h2 {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.about-school-bottom .right-info img {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
		margin-top: 40px;
	}

	.header-menu .nav a {
		font-size: 12px;
	}

	.header-big-menu {
		font-size: 12px;
	}

	.header-big-menu .left-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.header-big-menu .middle-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}

	.header-big-menu .right-col {
		float: none;
		margin: 0 auto;
		padding: 0;
	}

	h2 {
		font-size: 26px;
	}

	.structure-and-authorities .wrapper {
		padding: 70px 60px 70px 20px;
	}

	.structure-and-authorities .wrapper {
		padding: 70px 60px 70px 20px;
	}
	
	.logistical-support .wrapper {
		padding: 73px 40px 100px 40px;
	}

	.logistical-support .wrapper h2 {
		font-size: 22px;
	}

	.paid-services .wrapper {
		padding: 68px 40px 90px 40px;
	}

	.numbered-list .wrapper {
		padding: 75px 40px 82px 40px;
	} 

	.documents .wrapper {
		padding: 62px 62px 92px 5px; 
	}

	.documents .wrapper div p {
		font-size: 11px;
	}

	.documents .wrapper div {
		padding: 0 18px 0 50px;
	}

	/*.middle-header {
		text-align: center;
	}

	.logo,
	.left-info,
	.right-info,
	.left-info h1,
	.left-info p {
		float: none;
		display: inline-block;
	}*/
	
	

	.left-info h1 {
		padding: 0;
	}

	.middle-header {
		text-align: center;
	}

	.middle-header .right-info {
		float: none;
		display: inline-block;
		text-align: center;
	}

	.middle-header .left-info {
		float: none;
		display: inline-block;
		text-align: center;
	}

}